{% extends 'base.html' %}


{% block title %}
        
        VIEW
{% endblock title %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">PET_ID</th>
        <th scope="col">BREED</th>
        <th scope="col">AGE</th>
        <th scope="col">UNIQUE_IDENTIFICATION</th>
        <th scope="col">SPECIES</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for pet in pet_data %}
      <tr>
        <th scope="row">{{pet.pet_id}}</th>
        <td>{{pet.breed}}</td>
        <td>{{pet.age}}</td>
        <td>{{pet.u_id}}</td>
        <td>{{pet.species}}</td>
        <td><a href="/edit/pet/{{pet.pet_id}}"><button class="btn btn-primary"> Edit </button></a> </td>
        <td><a href="/delete/pet/{{pet.pet_id}}"><button onclick="return confirm('Are you sure to delete data');" class="btn btn-danger">Delete</button></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}