{% extends 'base.html' %}

{% block title %}
    VIEW
{% endblock title %}

{% block css %}
<style>
    body {
        /* background-image: url('https://tse4.mm.bing.net/th?id=OIP.SEqzu4MeUUVgbPSb2xJNdwHaF3&pid=Api&P=0&h=180'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency by changing the last value */
    }
</style>
{% endblock css %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">PET_ID</th>
        <th scope="col">BREED</th>
        <th scope="col">AGE</th>
        <th scope="col">UNIQUE_IDENTIFICATION</th>
        <th scope="col">SPECIES</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for pet in pet_data %}
      <tr>
        <th scope="row">{{pet.pet_id}}</th>
        <td>{{pet.breed}}</td>
        <td>{{pet.age}}</td>
        <td>{{pet.u_id}}</td>
        <td>{{pet.species}}</td>
        <td><a href="/edit/pet/{{pet.pet_id}}"><button class="btn btn-primary"> Edit </button></a> </td>
        <td><a href="/delete/pet/{{pet.pet_id}}"><button onclick="return confirm('Are you sure to delete data');" class="btn btn-danger">Delete</button></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}
