{% extends "base.html" %}

{% block title %}
Edit Pet Details
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h4 class="text-center bg-success text-white"> Edit Pet Details</h4>
            <br>
            <form action="/edit/pet/{{ pet_data[0] }}" method="post">

                <div class="mb-3">
                    <label for="breed" class="form-label">Breed</label>
                    <input type="text" class="form-control" id="breed" name="breed" placeholder="Breed" value="{{ post.breed }}" required>
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Age" value="{{ post.age }}" required>
                </div>
                <div class="mb-3">
                    <label for="unique_id" class="form-label">Unique Identification</label>
                    <input type="text" class="form-control" id="unique_id" name="unique_id" placeholder="Unique Identification" value="{{ post.u_id }}" required>
                </div>
                <div class="mb-3">
                    <label for="species" class="form-label">Species</label>
                    <input type="text" class="form-control" id="species" name="species" placeholder="Species" value="{{ post.species }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Pet</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
